*.xds
build/android/bin
/build/android/assets/www/audio
/build/www/audio
*/lib
*/target
*/bin
*/*.DS_Store
*/.DS_Store
.DS_Store
*/*.DS_Store
*/.classpath
*/.project
Gemfile.lock
*.tar.gz
*.settings
*.class
*.apk
*.ap_
*.dex
*.m4a
*.*~
gen/
local.properties
proguard/
*/*sencha
