/*
Errno::ENOENT: No such file or directory - lulu.scss

Backtrace:
org/jruby/RubyFile.java:333:in `initialize'
org/jruby/RubyIO.java:1179:in `open'
org/jruby/RubyKernel.java:333:in `open'
org/jruby/RubyIO.java:3611:in `read'
org/jruby/RubyIO.java:3708:in `read'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `update_stylesheets'
org/jruby/RubyArray.java:1612:in `each'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:235:in `watch'
org/jruby/RubyBasicObject.java:1665:in `__send__'
org/jruby/RubyKernel.java:2090:in `send'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/plugin.rb:107:in `method_missing'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/exec.rb:452:in `watch_or_update'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/lib/ruby/gems/shared/gems/sass-3.2.9/bin/sass:9:in `(root)'
org/jruby/RubyKernel.java:1046:in `load'
/Users/iaomw/.rbenv/versions/jruby-1.7.1/bin/sass:23:in `(root)'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - lulu.scss"; }
